[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "bundle/ragtag"]
	path = bundle/ragtag
	url = http://github.com/tpope/vim-ragtag.git
	ignore = dirty
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = http://github.com/tpope/vim-commentary.git
	ignore = dirty
[submodule "bundle/vividchalk"]
	path = bundle/vividchalk
	url = http://github.com/tpope/vim-vividchalk.git
	ignore = dirty
[submodule "bundle/taskpaper"]
	path = bundle/taskpaper
	url = http://github.com/luislee818/taskpaper.vim.git
	ignore = dirty
[submodule "bundle/railscasts"]
	path = bundle/railscasts
	url = http://github.com/luislee818/vim-railscasts.git
	ignore = dirty
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = http://github.com/Lokaltog/vim-easymotion.git
	ignore = dirty
[submodule "bundle/NERDTree"]
	path = bundle/NERDTree
	url = http://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = http://github.com/tpope/vim-endwise.git
	ignore = dirty
[submodule "bundle/jasmine"]
	path = bundle/jasmine
	url = http://github.com/luislee818/jasmine.vim.git
	ignore = dirty
[submodule "bundle/ack"]
	path = bundle/ack
	url = http://github.com/mileszs/ack.vim.git
	ignore = dirty
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = http://github.com/kien/ctrlp.vim.git
	ignore = dirty
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = http://github.com/scrooloose/syntastic.git
	ignore = dirty
[submodule "bundle/jshint"]
	path = bundle/jshint
	url = http://github.com/walm/jshint.vim.git
	ignore = dirty
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = http://github.com/majutsushi/tagbar.git
	ignore = dirty
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = http://github.com/ervandew/supertab.git
	ignore = dirty
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = http://github.com/altercation/vim-colors-solarized.git
	ignore = dirty
[submodule "bundle/taglist-plus"]
	path = bundle/taglist-plus
	url = http://github.com/int3/vim-taglist-plus.git
	ignore = dirty
[submodule "bundle/ps1.vim"]
	path = bundle/ps1.vim
	url = http://github.com/PProvost/vim-ps1.git
	ignore = dirty
[submodule "bundle/trailing-whitespace"]
	path = bundle/trailing-whitespace
	url = http://github.com/bronson/vim-trailing-whitespace.git
	ignore = dirty
[submodule "bundle/specky_rspec_fork"]
	path = bundle/specky_rspec_fork
	url = http://github.com/luislee818/Specky.git
	ignore = dirty
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
	ignore = dirty
[submodule "bundle/visual-star-search"]
	path = bundle/visual-star-search
	url = http://github.com/nelstrom/vim-visual-star-search.git
	ignore = dirty
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = http://github.com/mattn/zencoding-vim.git
	ignore = dirty
[submodule "bundle/vim-racket"]
	path = bundle/vim-racket
	url = http://github.com/wlangstroth/vim-racket.git
	ignore = dirty
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = http://github.com/derekwyatt/vim-scala.git
	ignore = dirty
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = http://github.com/vim-ruby/vim-ruby.git
	ignore = dirty
[submodule "bundle/vim-textobj-rubyblock"]
	path = bundle/vim-textobj-rubyblock
	url = http://github.com/nelstrom/vim-textobj-rubyblock.git
	ignore = dirty
[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = http://github.com/kana/vim-textobj-user.git
	ignore = dirty
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = http://github.com/tpope/vim-repeat.git
	ignore = dirty
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = http://github.com/bling/vim-airline
	ignore = dirty
[submodule "bundle/tmuxline"]
	path = bundle/tmuxline
	url = http://github.com/edkolev/tmuxline.vim.git
	ignore = dirty
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = http://github.com/kchmck/vim-coffee-script.git
	ignore = dirty
[submodule "bundle/funcoo.vim"]
	path = bundle/funcoo.vim
	url = http://github.com/rizzatti/funcoo.vim.git
	ignore = dirty
[submodule "bundle/dash.vim"]
	path = bundle/dash.vim
	url = http://github.com/rizzatti/dash.vim.git
	ignore = dirty
[submodule "bundle/vim-exchange"]
	path = bundle/vim-exchange
	url = http://github.com/tommcdo/vim-exchange.git
	ignore = dirty
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = http://github.com/mattn/emmet-vim.git
	ignore = dirty
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = http://github.com/tpope/vim-abolish.git
	ignore = dirty
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
	ignore = dirty
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = http://github.com/tpope/vim-cucumber.git
	ignore = dirty
[submodule "bundle/QFEnter"]
	path = bundle/QFEnter
	url = http://github.com/yssl/QFEnter.git
	ignore = dirty
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = http://github.com/tpope/vim-bundler.git
	ignore = dirty
[submodule "bundle/vim-rake"]
	path = bundle/vim-rake
	url = http://github.com/tpope/vim-rake.git
	ignore = dirty
[submodule "bundle/vim-rbenv"]
	path = bundle/vim-rbenv
	url = http://github.com/tpope/vim-rbenv.git
	ignore = dirty
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = http://github.com/tpope/vim-dispatch.git
	ignore = dirty
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = http://github.com/pangloss/vim-javascript.git
	ignore = dirty
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = http://github.com/mxw/vim-jsx.git
	ignore = dirty
[submodule "bundle/vim-rspec"]
	path = bundle/vim-rspec
	url = http://github.com/thoughtbot/vim-rspec.git
	ignore = dirty
[submodule "bundle/vim-jade"]
	path = bundle/vim-jade
	url = http://github.com/digitaltoad/vim-jade.git
	ignore = dirty
[submodule "bundle/repmo"]
	path = bundle/repmo
	url = http://github.com/luislee818/repmo.vim.git
	ignore = dirty
[submodule "bundle/GoldenView"]
	path = bundle/GoldenView
	url = http://github.com/zhaocai/GoldenView.Vim.git
	ignore = dirty
[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = http://github.com/elixir-lang/vim-elixir.git
	ignore = dirty
[submodule "bundle/editorconfig-vim"]
	path = bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
	ignore = dirty
[submodule "bundle/syntastic-local-eslint"]
	path = bundle/syntastic-local-eslint
	url = http://github.com/mtscout6/syntastic-local-eslint.vim.git
	ignore = dirty
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = http://github.com/airblade/vim-gitgutter.git
	ignore = dirty
[submodule "bundle/vim-wakatime"]
	path = bundle/vim-wakatime
	url = git://github.com/wakatime/vim-wakatime.git
	ignore = dirty
[submodule "bundle/elm"]
	path = bundle/elm
	url = https://github.com/lambdatoast/elm.vim.git
	ignore = dirty
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/my-snippets"]
	path = bundle/my-snippets
	url = https://github.com/luislee818/my-snippets.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/vim-rhubarb"]
	path = bundle/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
