[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
	ignore = dirty
[submodule "bundle/ragtag"]
	path = bundle/ragtag
	url = http://github.com/tpope/vim-ragtag.git
	ignore = dirty
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = http://github.com/tpope/vim-commentary.git
	ignore = dirty
[submodule "bundle/vividchalk"]
	path = bundle/vividchalk
	url = http://github.com/tpope/vim-vividchalk.git
	ignore = dirty
[submodule "bundle/taskpaper"]
	path = bundle/taskpaper
	url = http://github.com/luislee818/taskpaper.vim.git
	ignore = dirty
[submodule "bundle/railscasts"]
	path = bundle/railscasts
	url = http://github.com/luislee818/vim-railscasts.git
	ignore = dirty
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = http://github.com/Lokaltog/vim-easymotion.git
	ignore = dirty
[submodule "bundle/NERDTree"]
	path = bundle/NERDTree
	url = http://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = http://github.com/tpope/vim-endwise.git
	ignore = dirty
[submodule "bundle/jasmine"]
	path = bundle/jasmine
	url = http://github.com/luislee818/jasmine.vim.git
	ignore = dirty
[submodule "bundle/ack"]
	path = bundle/ack
	url = http://github.com/mileszs/ack.vim.git
	ignore = dirty
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = http://github.com/kien/ctrlp.vim.git
	ignore = dirty
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = http://github.com/scrooloose/syntastic.git
	ignore = dirty
[submodule "bundle/jshint"]
	path = bundle/jshint
	url = http://github.com/walm/jshint.vim.git
	ignore = dirty
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = http://github.com/majutsushi/tagbar.git
	ignore = dirty
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = http://github.com/ervandew/supertab.git
	ignore = dirty
